/*CSS Reset settings here*/
*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 940px;
    margin: 0px auto;
    outline: 2px solid black;
    height: 1000px;
    background-color: #d5d2ae;
}

#header{
    height: 125px;
    outline: 2px solid black;
    padding: 0px;
    

}

#header img{
    border: 2px solid black;


 
    
}

#header h1{
    outline: 2px solid orange;
    display: inline-block;
    padding-bottom: 0px;    
}